<div class="ui-g container">
  <div class="ui-g-12 ui-md-12 ui-lg-12 header">
      <img src="../../favicon.png" alt="Biblioteczny chomik" />
      <h1>Biblioteczny chomik
        <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </h1>
  </div>
  <h4>Poniżej znajduje się lista wszystkich pozycji dostępnych w bazie</h4>    
  <table class="ui-g- ui-md-12 ui-lg-12 table">
    <thead>
      <tr>
        <th>Typ publikacji</th> 
        <th>Autor</th>
        <th>Tytuł</th> 
        <th>Pliki</th>
        <th>Link</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
          <td>{{ book.publication_type }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.title }}</td>
        <td><p-splitButton label="Pobierz" icon="fa-check" (onClick)="save()" [model]="items" styleClass="ui-button-warning"></p-splitButton></td>
        <td><a href="http://{{book.link}}" target="_blank">{{ book.link }}</a></td>
        <td><a [routerLink]="['/book-details', book._id]"><button pButton type="button" label="Więcej" class="ui-button-success"></button></a></td>
      </tr>
    </tbody>
  </table>
</div> 
