.container > .header{
    display: inline-flex;
}

.container >  .header > img{
    height: 50px;
    margin: 20px;
}

.container > .header > h1{
    color: #cc0000;
}

.container > .header > h1{
    color: #cc0000;
}

.container > h4{
    margin-top: -10px;
}