<p-messages [(value)]="msgs"></p-messages>
<div class="ui-g container">
    <div class="ui-g-12 ui-md-12 ui-lg-12 header">
        <a [routerLink]="['/books']" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
        <h1>Dodaj nową pozycję</h1>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 subtitle">
        <h4>Wprowadź dane dotyczące nowej pozycji</h4> 
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <form (ngSubmit)="saveBook()" #bookForm="ngForm">
          <div class="form-group">
            <label for="name">Wczytaj dane z pliku BIBTEX (możesz wybrać pliki metodą Drag and Drop)</label>
            <!-- (onUpload)="BibtexScanUploaded($event)" (onBeforeSend)="onBeforeSendBibtex({e: $event, r: row})" -->
            <p-fileUpload chooseLabel="Wybierz pliki z dysku" uploadLabel="Wyślij plik" 
            url="/book-load" cancelLabel="Anuluj" name="myfile[]" (onUpload)="onUpload($event)">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul> 
            </ng-template>        
            </p-fileUpload>
          </div>
          <hr>
          <h4>lub wprowadź dane ręcznie</h4> 
          <hr> 
          <div class="form-group">
            <label for="name">Typ publikacji *</label>
            <p-selectButton [options]="types" [(ngModel)]="book.publication_type" [ngModelOptions]="{standalone: true}" required></p-selectButton>
          </div>
          <div class="form-group">
            <label for="name">ISBN </label>
            <input pInputText type="text" maxlength="13" minlength="0" class="form-control" [(ngModel)]="book.isbn" name="isbn">
          </div>
          <div class="form-group">
            <label for="name">Tytuł *</label>
            <input pInputText type="text" class="form-control" [(ngModel)]="book.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="name">Autor/Autorzy (wymień po przecinku) *</label>
            <input pInputText type="text" class="form-control" [(ngModel)]="book.author" name="author" required>
          </div>
          <div class="form-group">
            <label for="name">Rok publikacji</label>
            <input pInputText type="number" class="form-control" [(ngModel)]="book.published_year" name="published_year">
          </div>
          <div class="form-group">
            <label for="name">Wydawnictwo</label>
            <input pInputText type="text" class="form-control" [(ngModel)]="book.publisher" name="publisher">
          </div>
          <div class="form-group">
            <label for="name">Link do księgarni / wersji PDF itp.</label>
            <input pInputText type="text" class="form-control" [(ngModel)]="book.link" name="link">
          </div>
          <div class="form-group">
            <label for="name">Krótki opis / uwagi</label>
            <input pInputText type="text" class="form-control" [(ngModel)]="book.short_desc" name="link">
          </div>
          <div class="form-group">
            <label for="name">Pliki BIBTEX / PDF itp. (możesz wybrać pliki metodą Drag and Drop)</label>
            <p-fileUpload chooseLabel="Wybierz pliki z dysku" uploadLabel="Wyślij na serwer" cancelLabel="Anuluj" name="myfile[]" url="./upload.php"></p-fileUpload>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid || book.publication_type === undefined">Dodaj pozycję</button>
          </div>
        </form>
    </div>
  <div class="ui-g-12 ui-md-12 ui-lg-6 logo">
      <img src="../../favicon.png" alt="Biblioteczny chomik" />
  </div>
</div>
